DATABASE_URL=postgres://postgres:pass@db/postgres
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1
DJANGO_CONFIGURATION=Dev
DJANGO_DEBUG=True
DJANGO_SECRET_KEY=
DJANGO_SETTINGS_MODULE=glam.settings
GOOGLE_CLOUD_PROJECT=
PYTHONDONTWRITEBYTECODE=1
PYTHONUNBUFFERED=1
GA_TRACKING_ID=
OIDC_CLIENT_ID=
NGINX_SESSION_SECRET=
APP_LISTEN=server:8000
APP_BASE_URL=http://localhost:3000
