# Inverse matches (i.e., DO NOT ignore these)
!.prettierrc.js

public/static/bundle.js
src/main.js

# eslint doesn't like numeric separators (e.g. `12_345`), and I'm stubbornly
# refusing to remove them.
tests/formatters.test.js