rules_version = '2';


function isSignedIn() {
    return request.auth != null;
}


service cloud.firestore {
    match /databases/{database}/documents {
        // Allow RW if signed in.
        match /{document=**} {
            allow read, write: if isSignedIn();
        }

        // Probes can be read-only by everyone.
        match /firefox-probes/{document} {
            allow read: if true;
        }

        // Only nightly and beta are read if no authentication.
        match /{collection}/{document=**} {
            allow read: if collection.split("-")[0] == "nightly" || collection.split("-")[0] == "beta";
        }
    }

}
