certifi==2019.9.11
cffi==1.13.2
chardet==3.0.4
cryptography==2.8
dj-database-url==0.5.0
Django==3.0.2
django-configurations==2.2
djangorestframework==3.11.0
dockerflow==2019.10.0
google-cloud-bigquery==1.23.1
google-cloud-storage==1.25.0
gunicorn==20.0.4
idna==2.8
josepy==1.2.0
mozilla-django-oidc==1.2.2
PyOpenSSL==19.1.0
psycopg2-binary==2.8.4
requests==2.22.0
urllib3==1.25.7
whitenoise==5.0.1

# For linting and testing.
flake8==3.7.9
mccabe==0.6.1
pycodestyle==2.5.0
pyflakes==2.1.1
pytest==5.3.5
pytest-blockage==0.2.2
pytest-cov==2.8.1
pytest-django==3.8.0
