dj-database-url==0.5.0
django==3.1.2
django-configurations==2.2
djangorestframework==3.12.1
dockerflow==2020.10.0
drf-orjson-renderer==1.1.4
google-cloud-bigquery==2.1.0
google-cloud-storage==1.31.2
gunicorn==20.0.4
mozilla-django-oidc==1.2.4
psycopg2-binary==2.8.6
whitenoise==5.2.0

# For linting and testing.
flake8
pytest
pytest-blockage
pytest-cov
pytest-django
