version: 2.1

orbs:
  docker: circleci/docker@1.5.0

jobs:
  build:
    working_directory: ~/mozilla/glam
    docker:
      - image: circleci/python:3.8
        environment:
          DJANGO_CONFIGURATION: Test
          DATABASE_URL: postgresql://postgres:pass@postgres/test?sslmode=disable
      - image: circleci/postgres:11
        name: postgres
        environment:
          POSTGRES_DB: test
          POSTGRES_PASSWORD: pass
    steps:
      - checkout
      - run: sudo chown -R circleci:circleci /usr/local/bin
      - run:
          sudo chown -R circleci:circleci /usr/local/lib/python3.8/site-packages
      - run:
          command: |
            sudo pip install -U pip
            pip install -r requirements.txt
      - run:
          command: |
            pytest glam/
  frontend-tests:
    working_directory: ~/mozilla/glam
    docker:
      - image: circleci/node:12
    steps:
      - checkout
      - run:
          name: update-npm
          command: 'sudo npm install -g npm@latest'
      - restore_cache:
          key: dependency-cache-{{ checksum "package-lock.json" }}
      - run:
          name: install-npm-wee
          command: npm install
      - save_cache: # special step to save the dependency cache
          key: dependency-cache-{{ checksum "package-lock.json" }}
          paths:
            - ./node_modules
      - run: npm run build
      - run: npm run test
  test-environment:
    docker:
      - image: cimg/base:2021.10
    working_directory: ~/mozilla/glam/
    steps:
      - checkout
      - run:
          command: |
            cp .env-dist .env
            make up -v ${PWD}:/app
            make build -v ${PWD}:/app
workflows:
  version: 2
  test-and-deploy:
    jobs:
      - frontend-tests:
          filters:
            tags:
              only: /.*/
      - test-environment:
          filters:
            tags:
              only: /.*/
      - build:
          filters:
            tags:
              only: /.*/
      - docker/publish:
          name: publish-latest
          requires:
            - frontend-tests
            - build
          filters:
            branches:
              only: main
            tags:
              ignore: /.*/
          image: $CIRCLE_PROJECT_USERNAME/$CIRCLE_PROJECT_REPONAME
          tag: $CIRCLE_SHA1,latest
      - docker/publish:
          name: publish-release
          requires:
            - frontend-tests
            - build
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /^\d+\.\d+\.\d+$/
          image: $CIRCLE_PROJECT_USERNAME/$CIRCLE_PROJECT_REPONAME
          tag: $CIRCLE_TAG
