.plot-set {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.plot-set + .plot-set {
  margin-top: var(--space-4x);
}

.probe-head {
  font-family: 'Fira Code';
  font-weight: normal;
  font-size: var(--text-07);
}
