body  {
  background-color: var(--cool-gray-100);
}

.story {
  width: calc(100vw - var(--increment) * 3);
  margin: auto;
  /* margin-top: var(--space-4x); */
  min-height: 100vh;
  background-color: white;
  padding: var(--space-6x);
  border: 1px solid  var(--line-gray-01);
  border-top: none;
  border-bottom-left-radius:var(--space-2x);
  border-bottom-right-radius:var(--space-2x);
  box-shadow: 0px var(--space-base) var(--space-2x) rgba(0,0,0,.1);
}

.story--dark {
  background-color: var(--blue-slate-700);
  color: white;
}

.story__section {
  border-top: 1px solid var(--line-gray-01);
  padding: var(--space-8x);
  padding-top: var(--space-2x);
  padding-bottom: var(--space-16x);
}

.story__title {
  margin:0;
  padding:0;
  margin-bottom: var(--space-4x);
  color: var(--subhead-gray-02);
}

.story--dark .story__title {
  color: white;
}

.story__subtitle {
  margin-top: calc(var(--space-4x) * -1);
  margin-bottom: var(--space-4x);
  color: var(--subhead-gray-01);
}

.story__description {
  max-width: var(--space-72x);
  padding-top: var(--space-base);
  padding-bottom: var(--space-4x);
  /* margin-bottom: var(--space-2x); */
  line-height: 1.5;
}


hr {
  border: 1px solid var(--cool-gray-200);
}

.view-header {
  display: grid;
  grid-template-columns: auto max-content;
  font-family: var(--main-mono-font);
  border-bottom: 3px solid var(--cool-gray-200);
  margin-bottom: var(--space-4x);
}

.view-header h1 {
  font-weight: normal;
  margin:0px;
}

.selectors {
  position: relative;
  width: max-content;
  font-size: var(--text-02);
  font-family: var(--main-mono-font);
  margin-bottom: var(--space-4x);
  padding: var(--space-4x);
  border-radius: var(--space-base);
  box-shadow: var(--depth-tiny);
  z-index:1000;
  background-color: white;
  color: var(--blue-slate-600);
}